* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#navigation {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(195, 235, 221);
}

.pageNav div {
  display: flex;
  flex-direction: column;
}

.pageNav div a {
  color: red;
  font-size: 20px;
}

.pageNav div a:hover {
  color: rgb(3, 104, 11);
  cursor: pointer;
}
#navigation .naviqatioanBar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

#navigation .naviqatioanBar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#navigation .naviqatioanBar ul li a:hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  .firstSecDiv h1 {
    font-size: 24px;
  }

  #navigation {
    height: 120px;
    flex-direction: column;
  }
  #navigation .naviqatioanBar ul li a {
    font-size: 16px;
  }
  .pageNav {
    display: flex;
    gap: 20px;
  }
  .pageNav div a {
    color: red;
    font-size: 16px;
  }
}

/* 1 ci bolme */

#pageFirstSection .firstSecDiv {
  background-color: rgb(6, 99, 3);
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgDiv {
  padding-top: 20px;
  padding-bottom: 20px;
}
.imgDiv .firstDivImg {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.imgDiv .firstDivImg .photoMainDiv {
  width: 30%;
  display: flex;

  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  gap: 30px;
}

.imgDiv .firstDivImg .photoMainDiv .photoInfoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

#imagesDiv img {
  width: 100%;
  height: 250px;
}

.imgDiv .firstDivImg .photoMainDiv .photoInfoDiv .prodcName {
  text-align: center;
}

.imgDiv .firstDivImg .photoMainDiv .photoInfoDiv .qiymetDiv {
  color: red;
  padding-top: 10px;
  padding-bottom: 5px;
}

.imgDiv .firstDivImg .photoMainDiv .photoInfoDiv #sebetBtn {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.imgDiv .firstDivImg .photoMainDiv .photoInfoDiv #sebetBtn:hover {
  color: rgb(22, 20, 20);
  background-color: rgb(195, 235, 221);
  border-radius: 30px;
}

@media only screen and (max-width: 600px) {
  .firstDivImg {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 30px;
  }
  .imgDiv .firstDivImg .photoMainDiv {
    width: 80%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }

  #imagesDiv img {
    width: 100%;
    max-height: 150px;
  }

  .imgDiv .firstDivImg .photoMainDiv .photoInfoDiv .prodcName {
    font-size: 12px;
  }
  .imgDiv .firstDivImg .photoMainDiv .photoInfoDiv .qiymetDiv {
    font-size: 10px;
  }
  .imgDiv .firstDivImg .photoMainDiv .photoInfoDiv #sebetBtn {
    font-size: 10px;
  }
}

.hormetliMusderiler {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(195, 235, 221);
}

.hormetliMusderiler div {
  margin-left: 100px;
  color: blue;
}

.hormetliMusderiler .pDiv {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hormetliMusderiler .pDiv p {
  color: red;
  font-size: 24px;
  max-width: 450px;
}
#sellerBTN {
  width: 80px;
  height: 18px;
  background-color: blue;
  color: rgb(255, 255, 255);
  border: none;
}

#sellerBTN:hover {
  color: blue;
  border: 1px solid blue;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .hormetliMusderiler {
    margin-top: 0px !important;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hormetliMusderiler div {
    margin-left: 0;
    height: auto;
  }
  .hormetliMusderiler .pDiv {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 10px;
  }
  .hormetliMusderiler .pDiv p {
    font-size: 16px;
  }
}

#contactUsSection .elaqeDiv {
  margin-left: 100px;
  color: blue;
}
#contactUsSection {
  padding-top: 50px;
}
#contactUsSection .iconsMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 150px;
}
#contactUsSection .iconsMainDiv .iconParentDiv {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#contactUsSection .iconsMainDiv .iconParentDiv a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#ontactUsSection .iconsMainDiv .iconParentDiv a .fa-brands {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #contactUsSection .elaqeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  #contactUsSection .iconsMainDiv {
    display: flex;
    gap: 15px;
  }

  #contactUsSection .iconsMainDiv .iconParentDiv {
    width: 30px;
    height: 30px;
  }
  #contactUsSection .iconsMainDiv .iconParentDiv a {
    font-size: 16px;
  }
}
