* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#navigation {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(195, 235, 221);
}

.pageNav div {
  display: flex;
  flex-direction: column;
}

.pageNav div a {
  color: red;
  font-size: 20px;
}

.pageNav div a:hover {
  color: rgb(3, 104, 11);
  cursor: pointer;
}
#navigation .naviqatioanBar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

#navigation .naviqatioanBar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#navigation .naviqatioanBar ul li a:hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  #navigation {
    height: 120px;
    flex-direction: column;
  }
  #navigation .naviqatioanBar ul li a {
    font-size: 16px;
  }
  .pageNav {
    display: flex;
    gap: 20px;
  }
  .pageNav div a {
    color: red;
    font-size: 16px;
  }
}

/* haqqimizda section */

#firstSection .headerText {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

#firstSection .infoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}

#firstSection .infoArea p {
  width: 75%;
  font-size: 24px;
}

#firstSection .imgMAinDivHAqq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#firstSection .imgMAinDivHAqq .haqqImgDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstSection .imgMAinDivHAqq .haqqImgDiv img {
  width: 40%;
  height: 40%;
}

@media only screen and (max-width: 600px) {
  #firstSection .headerText {
    padding-top: 15px;
  }
  #firstSection .infoArea p {
    font-size: 16px;
  }

  #firstSection .imgMAinDivHAqq .haqqImgDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #firstSection .imgMAinDivHAqq .haqqImgDiv img {
    width: 90px;
    height: 100%;
  }
}

#contactUsSection .elaqeDiv {
  margin-left: 100px;
  color: blue;
}
#contactUsSection {
  padding-top: 50px;
}
#contactUsSection .iconsMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 150px;
}
#contactUsSection .iconsMainDiv .iconParentDiv {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#contactUsSection .iconsMainDiv .iconParentDiv a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#ontactUsSection .iconsMainDiv .iconParentDiv a .fa-brands {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #contactUsSection .elaqeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  #contactUsSection .iconsMainDiv {
    display: flex;
    gap: 15px;
  }

  #contactUsSection .iconsMainDiv .iconParentDiv {
    width: 30px;
    height: 30px;
  }
  #contactUsSection .iconsMainDiv .iconParentDiv a {
    font-size: 16px;
  }
}
